body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.neon-flower-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.neon-flower {
    width: 50px;
    height: 100px;
    background-color: #ff00ff; /* Neon color */
    border-radius: 50%;
    box-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff;
    animation: floatAnimation 2s infinite ease-in-out alternate;
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

